
body
{
	margin:0 auto;
	text-align:center;
}
#main
{
	position:absolute;
	left:10%;
	right:10%;
	margin: 100px 0 0 0;
	text-align:center;
}
#leftsidebar
{
	position:absolute;
	margin:20px;
	padding: 5px 10px 5px 10px;
	height:500px;
	width:230px;
	background-color: #eeeeee;
}
#content
{
	position:absolute;
	margin:20px auto;
	padding: 5px 10px 5px 10px;
	left: 300px;
	width: 1000px;
	background-color: #eeeeee;
}
li
{
	text-align:left;
}